* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.parent {
    padding: 0px 20px;
}

.parent .question {
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    color: white;
    font-weight: 500;
}

.parent .answer {
    display: flex;
    color: coral;
    margin-bottom: 50px;
}

.parent button {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 20px;
    background-color: transparent;
    cursor: pointer;
}


.parent .question .addbtn, .deletebtn {
    font-size: 30px;
    font-weight: 300;
    color: white;
    background-color: transparent;
}